:root {
    --pri: #4E1F00;
    --sec: #FEBA17;
    --tri: #74512D;
    --qua: #F8F4E1;
}

@font-face {
    font-family: light;
    src: url(./AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: normal;
    src: url(./AeonikTRIAL-Regular.otf);
}

@font-face {
    font-family: bold;
    src: url(./AeonikTRIAL-Bold.otf);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'bold';
}

.main-2 {
    max-width: 2000px;
}

.full-elem {
    max-width: 2000px;
}

.main {
    height: 100%;
    width: 100%;
    background-color: var(--pri);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .main-2 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
        position: relative;

        nav {
            width: 100%;
            height: 10%;
            background-color: var(--tri);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-inline: 3rem;
            border-radius: 1rem;
            color: var(--qua);

            button {
                padding: 0.6rem 1rem;
                background-color: var(--sec);
                color: #F8F4E1;
                border: none;
                border-radius: 2rem;
                font-size: 1.1rem;
                font-weight: 600;
                transition: all ease-in-out 0.1s;
            }

            button:active {
                scale: 0.96;
                box-shadow: 0px 0px 1rem var(--pri);
            }
        }

        .daily-news {
            width: 100%;
            height: 40%;
            background-image: url(./images/download.jpg);
            background-position: center;
            background-size: cover;
            border-radius: 1rem;
            color: var(--qua);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-inline: 3rem;

            .left {
                h1 {
                    font-size: 4rem;
                    font-weight: 700;
                }

                h2 {
                    font-size: 3.5rem;
                    font-weight: 700;
                }
                h3{
                    font-weight: 800;
                    font-size: 1.5rem;
                }
            }

            .right {
                h2 {
                    font-size: 2rem;
                    font-weight: 600;
                }

                h3 {
                    font-weight: 600;
                    opacity: 0.7;
                }
            }
        }

        .all-sections {
            height: 60%;
            width: 100%;
            display: flex;
            gap: 1rem;
            padding: 1rem;

            .saperator {
                width: 500px;
                height: 100%;
                position: relative;
                color: var(--tri);
                border-radius: 1rem;
                transition: all ease-in-out 0.1s;

                h1 {
                    position: absolute;
                    bottom: 3%;
                    right: 4%;
                }
            }

            .saperator:active {
                scale: 0.96;
                box-shadow: 0px 0px 2rem var(--tri);
            }

            .to-do-list {
                background-image: url(./images/to-do-list.jpg);
                background-position: center;
                background-size: cover;
            }

            .daily-planner {
                background-image: url(./images/daily\ planner\ guide.jpg);
                background-position: center;
                background-size: cover;
            }

            .motivation {
                background-image: url(./images/motivation.jpg);
                background-position: center;
                background-size: cover;
            }

            .pomodoro-timer {
                background-image: url(./images/pomodoro.jpg);
                background-position: center;
                background-size: cover;
            }

            .daily-goals {
                background-image: url(./images/daily\ planner\ guide.jpg);
                background-position: center;
                background-size: cover;
            }
        }
    }

    .full-elem {
        height: 100%;
        width: 100%;
        background-color: var(--pri);
        display: none;
        position: absolute;
        top: 0;
        padding: 2rem;

        .top {
            height: 10%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-inline: 2rem;
            border-radius: 1rem;

            h1 {
                color: var(--qua);
                text-transform: uppercase;
                font-weight: 700;
                font-size: 2rem;
            }

            .back {
                padding: 0.6rem 1.6rem;
                border: none;
                border-radius: 2rem;
                background-color: red;
                color: var(--qua);
                font-size: 1.1rem;
                font-weight: 600;
                cursor: pointer;
                transition: all ease-in-out 0.2s
            }

            .back:active {
                scale: 0.96;
            }
        }
    }

    .full-todolists {
        display: flex;
        flex-direction: column;
        display: none;

        .bottom {
            height: 85%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 2rem;

            .addTask {
                height: 100%;
                width: 42%;
                border-radius: 1rem;
                background-color: var(--tri);
                padding: 2rem;

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    input {
                        padding: 0.8rem 1rem;
                        font-size: 1.3rem;
                        font-weight: 800;
                        background-color: var(--pri);
                        color: var(--qua);
                        outline: none;
                        border: none;
                        border-radius: 1rem;
                    }

                    textarea {
                        padding: 0.8rem 1rem;
                        font-size: 1.3rem;
                        font-weight: 800;
                        background-color: var(--pri);
                        color: var(--qua);
                        outline: none;
                        border: none;
                        border-radius: 1rem;
                        height: 300px;
                    }

                    button {
                        padding: 0.5rem 1rem;
                        background-color: var(--sec);
                        color: var(--qua);
                        border: none;
                        border-radius: 1rem;
                        font-size: 1.1rem;
                        font-weight: 800;
                        transition: all ease-in-out 0.2s;
                    }

                    button:active {
                        scale: 0.96;
                    }

                    .mark-imp {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        color: var(--qua);

                        label {
                            font-size: 1.1rem;
                            font-weight: 700;
                        }
                    }
                }
            }

            .allTask {
                height: 100%;
                width: 55%;
                border-radius: 1rem;
                background-color: var(--tri);
                padding: 2rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                overflow: auto;

                .task {
                    width: 100%;
                    max-height: 17%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: var(--pri);
                    color: var(--qua);
                    padding: 1rem;
                    border-radius: 1rem;

                    .text {
                        width: 75%;

                        h1 {
                            font-size: 1.5rem;
                            font-weight: 700;
                            display: flex;
                            align-items: center;
                            gap: 1rem;

                            span {
                                font-size: 0.8rem;
                                background-color: red;
                                color: var(--qua);
                                padding: 0.2rem 0.3rem;
                                border-radius: 50%;
                            }

                            span.true {
                                opacity: 1;
                            }

                            span.false {
                                opacity: 0;
                            }
                        }

                        p {
                            font-weight: 300;
                            color: var(--qua);
                            opacity: 0.5;
                            width: 90%;
                        }
                    }

                    button {
                        background-color: green;
                        border: none;
                        border-radius: 1rem;
                        padding: 0.3rem 1rem;
                        font-size: 1.1rem;
                        font-weight: 600;
                        color: var(--qua);
                        transition: all ease-in-out 0.2s;
                    }

                    button:active {
                        scale: 0.96;
                    }
                }
            }
        }
    }

    .full-dailyplanner {

        .bottom {
            height: 85%;
            width: 100%;
            margin-top: 1rem;
            border-radius: 1rem;
            padding: 2rem;
            background-color: var(--tri);
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            overflow: auto;
            scrollbar-color: var(--sec) var(--pri);

            .dayplane {
                width: 49%;
                height: 4.5rem;
                border-radius: 1rem;
                background-color: red;
                display: flex;
                align-items: center;
                overflow: hidden;
                position: relative;
                // margin-bottom: 1rem;

                P {
                    position: absolute;
                    color: var(--sec);
                    top: 2%;
                    left: 2%;
                    font-weight: 600;
                }

                input {
                    width: 100%;
                    height: 100%;
                    background-color: var(--pri);
                    color: var(--qua);
                    padding: 1rem;
                    padding-top: 1.5rem;
                    outline: none;
                    border: none;
                    font-size: 1.3rem;
                    font-weight: 700;
                }
            }
        }
    }

    .full-motivation {

        .motivation-container {
            position: relative;
            height: 90%;
            width: 100%;


            .motivation-data {
                height: 500px;
                width: 650px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: var(--sec);
                border-radius: 2rem;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 1rem;
                box-shadow: 0px 0px 2rem var(--qua);
                border: 3px solid var(--pri);

                .motivation-1 {
                    padding: 0.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h1 {
                        color: var(--pri);
                        background-color: var(--qua);
                        padding: 0.4rem;
                        border-radius: 1rem;
                    }

                    h2 {
                        font-size: 4rem;
                        color: var(--pri);
                        opacity: 0.8;
                    }
                }

                .motivation-2 {
                    height: 70%;
                    width: 100%;
                    display: flex;
                    align-items: center;

                    p {
                        font-size: 2rem;
                        font-weight: 700;
                        color: var(--pri);
                    }
                }

                .motivation-3 {
                    width: 100%;
                    padding: 0.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    h1 {
                        background-color: var(--qua);
                        color: var(--pri);
                        padding: 0.4rem;
                        border-radius: 1rem;
                    }
                }
            }

            .motivation-data:hover {
                box-shadow: 0px 0px 2rem var(--sec);
            }

            .motivation-data:hover h1 {
                text-shadow: 0px 0px 0.5rem var(--sec);
            }

            .motivation-data:hover h2 {
                text-shadow: 0px 0px 0.5rem var(--qua);
            }
        }
    }

    .full-pomodorotimer {

        .bottom {
            height: 85%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;


            .container {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                h1 {
                    font-size: 5rem;
                    font-weight: 600;
                    color: var(--sec);
                }

                .but {
                    display: flex;
                    gap: 1rem;
                    margin-top: 1rem;

                    button {
                        padding: 0.5rem 1.5rem;
                        font-size: 1.2rem;
                        font-weight: 700;
                        border: 2px solid var(--sec);
                        background-color: var(--tri);
                        color: var(--sec);
                        box-shadow: 0.5rem 0.5rem 0rem black;
                        transition: all ease-in-out 0.1s;
                    }

                    button:active {
                        box-shadow: 0rem 0rem 0rem black;
                        border: 2px solid black;
                    }
                }
            }
        }
    }

}